.sign-in-content {
    box-sizing: border-box;
    border-radius: 10px;
    background-color: white;
    width: 300px;
    margin: 0 auto;
    margin-top: 3rem;
    padding: 2rem;
    .nav-link {
        margin-top: 2rem;
        text-decoration: none;
    }
}

.sign-in-icon {
    font-size: 5rem;
}
