input#username {
    background-color: #fff;
}

.edit-button {
    border-color: #00bc77;
    background-color: #00bc77;
    color: #fff;
    font-weight: bold;
    margin: 20px;
    padding: 10px;
}

.edit-inputs-buttons {
    display: flex;
    flex-direction: column;
    row-gap: 0.5rem;
    align-items: center;
    color: black;
}

.input-group {
    margin-bottom: 10px;
}

.edit-inputs {
    display: flex;
    flex-direction: column;
    column-gap: 0.5rem;
}

.edit-input {
    border-radius: 5px;
    border-color: #e7e7e7;
    background-color: #e7e7e7;
    width: 130px;
    height: 30px;
    padding-left: 0.5rem;
    font-size: 14px;
}

.edit-buttons {
    display: flex;
    flex-direction: row;
    column-gap: 0.5rem;
}

.edit-button-option {
    border-radius: 5px;
    border-color: #00bc77;
    text-align: center;
    width: 110px;
    background-color: #00bc77;
    color: #fff;
    height: 30px;
    border: 1px solid;
    cursor: pointer;
}
