.section-error {
    color: white;
    padding-bottom: 20px;
    font-weight: bold;
}

.section-error a {
    color: white;
    text-decoration: none;
    font-weight: 400;
}

.section-error a:hover {
    text-decoration: underline;
}

.section-error {
    h2 {
        font-size: 8rem;
    }
    p {
        font-size: 2rem;
        line-height: 4rem;
    }
}
